<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/">
    <title>Angular Full-Stack Generator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
 
</head>
<body>
  <style>
  </style>
  <script>
    //Código
  </script>
    <navbar></navbar>
    <div ui-view="">

    <div class="board">
      <div class="row" ng-repeat="row in ticTacToe.game.board.rows">
          <div class="col-lg-4">
              <button class="cell" ng-disabled="row[0].isChecked || ticTacToe.game.winner" ng-click="ticTacToe.game.fillBox(row[0].id)">{{row[0].value}}</button>
          </div>
          <div class="col-lg-4">
              <button class="cell" ng-disabled="row[1].isChecked || ticTacToe.game.winner" ng-click="ticTacToe.game.fillBox(row[1].id)">{{row[1].value}}</button>
          </div>
          <div class="col-lg-4">
              <button class="cell" ng-disabled="row[2].isChecked || ticTacToe.game.winner" ng-click="ticTacToe.game.fillBox(row[2].id)">{{row[2].value}}</button>
          </div>
      </div>
  </div>


    </div>  
    <footer></footer>
<script type="text/javascript" src="/vendor.bundle.js"></script><script type="text/javascript" src="/polyfills.bundle.js"></script><script type="text/javascript" src="/app.bundle.js"></script></body>
</html>
