<div class="sbleft"></div>
<div class="container" style="margin-left: 90px">
  <div class="container" style="margin-left:90px;">
          <div class="col-6-lg" id="quiz">
            
            <center>
            <h1>Passer le test !</h1>
              <div class="counter">
              <div id="countdown">
               <span class="minutes">{{minutes}}<b> Minutes</b></span>
               <span class="seconds">{{seconds}}<b> Seconds</b></span>
             </div>
           </div>
            
            
           <h1 id="quiz-name"></h1>
           <div id="question" ng-view>
            <h2>{{$ctrl.awesomeQuestion[$ctrl.num].question}}</h2>
            <ul ng-repeat="choices in $ctrl.all_questions[$ctrl.num].choices">
            <center>
              <input ng-click="$ctrl.validation(choices)" id="choices-{{choices.id}}" type="radio" name="choices" value="choices-{{choices.id}}">
              <label id="label-choices-{{choices.id}}" class="" for="choices-{{choices.id}}">{{choices.pos}}</label>
            <center>
            </ul>
            {{$ctrl.errormessage}}
          </div>
          <button disabled ng-click="$ctrl.Check_next()" class="btn" id="next-question-button"><i class="fa fa-arrow-right fa-2x"></i></button>
          <button disabled ng-click="$ctrl.report($ctrl.awesomeQuestion[$ctrl.num]._id)" class="btn" id="report-question-button"><i class="fa fa-flag fa-2x"></i></button>
          <div id="quiz-results" style="display:none;">
            <p id="quiz-results-message">Bravos felicitations</p>
            <p id="quiz-results-score">Score {{$ctrl.resultats}}/5</p>
          </div>
          <br/>
        </div>
      </div>
      </center>
    </div>
  </div>
</div>