<div>
  <div class="col-md-9 col-sm-8" style="min-height:400px;">            
    <center>
      <div style="width:600px;">
        <center><h2 style="color: #166e70;" class="page-header">Your Awards !</h2></center>
        <div style="float:left;">
          <img style="width:80px; height:82px;" src="assets/images/{{badgesCtrl.listAwards[0].User.avatar}}" />
        </div>
        <table border=0 width="300">               
          <tr ng-repeat="badge in badgesCtrl.listAwards">
            <td width="200" align="center" >{{badge.Concept.name}}</td>
            <td width="60" align="center"><img height="42" width="40" src="assets/images/{{badge.Badge.picture}}" /></td>
            <td width="150" align="center">{{badge.date | date:'yyyy-MM-dd' }}</td> 
          </tr>
        </table>
      </div> 
    </center>
  </div>
</div>
    <div class="clearfloat"></div>

    <div id="bdg-container">
      <div class="tbl-bdg" ng-repeat="bdg in badgesCtrl.listBadges">
        <div class="badgeImg">
          <img height="62" width="60" src="assets/images/{{bdg.picture}}" />
        </div>
          <h4>{{bdg.name}}</h4>
          <p>{{bdg.description}}</p>
      </div>
    </div>
  </div>