<div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 sidebar">
                <ul class="nav nav-stacked nav-pills">
                    <li ><a href="about.html">About</a></li>
                    <li class="active"><a href="about.html">About</a>
                    </li>
                    <li><a href="services.html">Services</a>
                    </li>
                    <li><a href="contact.php">Contact</a>
                    </li>
                    <li><a href="blog-post.html">Blog Post</a>
                    </li>
                    <li><a href="full-width.html">Full Width Page</a>
                    </li>
                    <li><a href="sidebar.html">Sidebar Page</a>
                    </li>
                    <li><a href="faq.html">FAQ</a>
                    </li>
                    <li><a href="404.html">404</a>
                    </li>
                    <li><a href="pricing.html">Pricing Table</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>

