<div class="container">
    
    <div class="row">
            <div class="col-md-3 col-sm-4 sidebar">
                <ul class="nav nav-stacked nav-pills">
                    <li ng-repeat="user in messengerCtrl.listUsers">
                        <a href="#" ng-click = "messengerCtrl.choix_user(user)" >
                            <img height="22" width="20" src="assets/images/{{user.avatar}}" />
                            {{user.name}}
                        </a>
                    </li>
                </ul>
            </div>
    
        <div class="row" style="margin-left:300px;">
            <div class="col-md-9 col-sm-8">
                    <div id="chat_container" ng-if="messengerCtrl.jChoisi">
                        <div id="messag_container">
                            <div class="messag" ng-repeat="message in messengerCtrl.listMessages">
                                    <p1 >{{message.expediteur}} , {{message.date}}</p1>
                                    <p>{{message.message}}</p>
                            </div>
                        </div>
                        <div id="nav_chat" class="nav-chat">
                            <ul>      
                                <li>
                                    <input id="input_chat"
                                        type="text" size="56" height="50px" value="Chat"
                                        onclick="if(this.value=='Chat') this.value=''; "
                                        onblur="if(this.value=='') this.value='Chat'; "
                                        ng-keyup="$event.keyCode == 13 ? messengerCtrl.submitMessage(1) : null"
                                        ng-model="messengerCtrl.chat_message"
                                    />
                                </li> 
                                <li><button ng-click = "messengerCtrl.submitMessage()" class="btn btn-primary btn-md">Submit</button></li>
                                <li><button ng-click = "messengerCtrl.jChoisi = false" class="btn btn-primary btn-md">Exit</button></li>
                            </ul>
                        </div>

                    </div>
            </div>

        </div>

    </div>

</div>