<div id="sbleft_affront" class="sbleft">
  <div ng-show="$ctrl.jChoice" class="container" style="width:180px">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Jouers :</h1>
          <div class="nav-affront-v">
            <ul >
                <li ng-if="user.name != 'Admin' " ng-repeat="user in $ctrl.listUsers">
                  <a ng-if="$ctrl.getCurrentUser().name != user.name" href="#" ng-click = "$ctrl.choix_user(user)" alt="{{user.name}}" >
                    <img src="assets/images/{{user.avatar}}">
                    {{user.name}}
                  </a>
                  <a ng-if="$ctrl.getCurrentUser().name == user.name" alt="{{user.name}}" >
                      <img src="assets/images/{{user.avatar}}">
                      {{user.name}}
                  </a>
                </li>
            </ul>  
          </div>

        </div>
      </div> 
    
    </br>
  </div>

  <div ng-show="$ctlr.jeuChoice" class container style="width:180px">

  </div>
</div>

<div id="main_affront" style="margin-left: 220px">

  <div ng-show="$ctrl.jChoisi" >
    
    <h1 class="page-header"></h1>
    <div id="">
            <div id="jouer-image" >
              <img src="assets/images/{{$ctrl.userChoisi.avatar}}" style="width:190px; height:200px" alt="{{$ctrl.userChoisi.name}}"> 
            </div>
            <div id="jouer-tableau">
              <table border=0 width="150">
                <tr>
                  <td>Name:</td>
                  <td>{{$ctrl.userChoisi.name}}</td>
                </tr>
                <tr>
                  <td>Ranking:</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Force:</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Points:</td>
                  <td></td>
                </tr>
              </table>
            </div>
            <div id="nav_jouerChoice" class="nav-affront">
              <ul> 
                  <li><button ng-click="$ctrl.affStatus('invitAccepte');$ctrl.submitMessage( 3 )" >Acepter invitation</button></li>
                  <li><button ng-click="$ctrl.submitMessage(4)" >Refuser invitation</button></li>
                  <li><button ng-click="$ctrl.submitMessage(2)" uib-tooltip="{{prop.id}}">Inviter au jeu</button></li>
                  <li><button ng-click = "$ctrl.affStatus('ferme')" >Sortir</button></li>
                  <!-- <li><button ng-click = "" >Message </button></li> -->
                  
              </ul>
            </div>
            <p id="msgInfo"></p>
    </div>
  </div> <!-- en jChoisi -->

  <div ng-show="$ctrl.jAffront" >

    <div id="head_affront" >
      
      <div id="jouer-left">
          <div id="img-jouerleft">
              <img src="assets/images/{{ $ctrl.getCurrentUser().avatar }}" alt="{{ $ctrl.getCurrentUser().name }}">
          </div>
          <div id="table-jouerleft" >
              <table class="jouer_table" style="float:left">
                <tr>
                  <td>Name:</td>
                  <td>{{ $ctrl.getCurrentUser().name }}</td>
                </tr>
                <tr>
                  <td>eMail:</td>
                  <td>{{ $ctrl.getCurrentUser().email }}</td>
                </tr>
                <tr>
                  <td>Ranking:</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Force:</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Points:</td>
                  <td></td>
                </tr>
              </table>
          </div>
      </div>
      <div id="jouer-right">
          <div id="img-jouerright">
              <img src="assets/images/{{$ctrl.userChoisi.avatar}}" alt="{{$ctrl.userChoisi.name}}">
          </div >
          <div id="table-jouerright">
            <table class="jouer_table" style="float:right">
              <tr>
                <td>Name:</td>
                <td>{{ $ctrl.userChoisi.name }}</td>
              </tr>
              <tr>
                <td>Mail:</td>
                <td>{{ $ctrl.userChoisi.email }}</td>
              </tr>
              <tr>
                <td>Ranking:</td>
                <td></td>
              </tr>
              <tr>
                <td>Force:</td>
                <td></td>
              </tr>
              <tr>
                <td>Points:</td>
                <td></td>
              </tr>
            </table>
          </div>
      </div>
      <div style="min-height:250px; text-align: center;">    
        <h1>Placer ici ... le Titre</h1>           
      </div>  
    </div> <!--end hear_affront -->

    <div id="contain_affront" >
      <div style="min-height:150px;">
        <h1>Placer ici ... le code du jeu</h1>   
      </div>
        
      <div id="nav_affront" class="nav-affront"> 
        <ul>
          <li><button ng-click="" >Jou</button></li>
          <li><button ng-click="$ctrl.affStatus('jChoisi')" >Revoir le Jouer</button></li>
          <li><button ng-click = "$ctrl.affStatus('ferme')" >Sortir</button></li>
          <li id="nav_affront_chat">
            <input id="input_aff_chat" type="text" name="chat" value="Chat"
              ng-click = "$ctrl.addChatElement()" 
              ng-keyup="$event.keyCode == 13 ? $ctrl.submitMessage() : null;" 
              ng-model="$ctrl.chat_message"  
              onfocus="if(this.value=='Chat')this.value='';" 
              onblur="this.value='Chat'"
               />
            <div id="affront_chat" >
                <div id="messag" ng-repeat="mess in $ctrl.listMessages">
                  <p style="color:#999999;">{{mess.expediteur}}: </p>
                  <p style="margin-left:4px;">{{mess.message}}</p>
                </div>      
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div> <!-- end jAffront -->
  
</div> <!-- end main_affront -->