<div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 style="color: #166e70;" class="page-header">Battle
                    <small> Players !</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Battle</li>
                </ol>
            </div>

        </div>

        <!-- Team Member Profiles -->

        <div class="row">

            <div class="col-sm-3" ng-if="user.name != 'Admin' " ng-repeat="user in $ctrl.listUsers">
                <img height="150" width="140" src="assets/images/{{user.avatar}}">
                <h3>{{user.name}}</h3>
                <p>Ranking:</p>
                <p>Force:</p>
                <p>Points:</p>

                <div class="form-group">
                <!-- <label for="exampleFormControlSelect1">Example select</label> -->
                  <select ng-model="selectedValue" ng-click="$ctrl.choix_concept(selectedValue, user)" class="form-control">
                      <option ng-repeat="c in $ctrl.listConcepts" ng-value="c">{{c.name}}</option>
                  </select>
              </div>
              <center>
              <button type="button" class="btn btn-primary btn-md" ng-click="$ctrl.submitGame(user);" >Défier ce joueur</button>
              <!-- <button type="button" class="btn btn-primary btn-md" ng-click = "$ctrl.affStatus('ferme')" >Sortir</button> -->
              </center>
              <br/><br/>
          </div>

        </div>



<!-- <div id="sbleft_affront" class="sbleft">
  <div class="container" style="width:180px">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Jouers :</h1>
          <div class="nav-affront-v">
            <ul >
                <li ng-if="user.name != 'Admin' " ng-repeat="user in $ctrl.listUsers">
                  <a ng-if="$ctrl.getCurrentUser().name != user.name" href="#" ng-click = "$ctrl.choix_user(user)" alt="{{user.name}}" >
                    <img src="assets/images/{{user.avatar}}">
                    {{user.name}}
                  </a>
                  <a ng-if="$ctrl.getCurrentUser().name == user.name" alt="{{user.name}}" >
                      <img src="assets/images/{{user.avatar}}">
                      {{user.name}}
                  </a>
                </li>
            </ul>  
          </div>

        </div>
      </div> 
    
    </br>
  </div>

  <div ng-show="$ctlr.jeuChoice" class container style="width:180px">

  </div>
</div> -->
<!-- 
<div id="main_affront" style="margin-left: 220px">

  <div ng-show="$ctrl.jChoisi" >
    
    <h1 class="page-header"></h1>
    <div id="">
            <div id="jouer-image" >
              <img src="assets/images/{{$ctrl.userChoisi.avatar}}" style="width:190px; height:200px" alt="{{$ctrl.userChoisi.name}}"> 
              <p>{{$ctrl.userChoisi.name}}</p>
            </div>
            <div id="jouer-tableau">
              <table border=0 width="150">
                <tr>
                  <td>Name:</td>
                  <td>{{$ctrl.userChoisi.name}}</td>
                </tr>
                <tr>
                  <td>Ranking:</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Force:</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Points:</td>
                  <td></td>
                </tr>
              </table>
            </div>
            <div id="nav_jouerChoice" class="nav-affront">
              <ul> 
                  <li>
                    <select ng-model="selectedValue" ng-click="$ctrl.choix_concept(selectedValue)">
                    <option ng-repeat="c in $ctrl.listConcepts" ng-value="c">{{c.name}}</option>
                    </select>
                  </li>
                  <li><button ng-click="$ctrl.submitGame();$ctrl.affStatus('invitAccepte')" >Défier</button></li>
                  <li><button ng-click = "$ctrl.affStatus('ferme')" >Sortir</button></li>

                  <!-- <li><button ng-click = "" >Message </button></li> -->


   <!--  </div> -->