.sbleft {
    float: left;
    width: 200px;
    min-height: 420px;
    margin: 0 0 0 0;
    border: 1px solid #999999;
    background: rgb(203, 203, 243);
  }

  .nav-affront {font: bold 11px Verdana;line-height:25px;width:100%; margin:10px 0 10px 0;overflow:hidden;}
  .nav-affront ul { width:100%; text-align:center; list-style-type: none;} 
  .nav-affront ul li {position: relative;display: inline;border-top-width:thin;}
  .nav-affront ul li a {display: block;background: #999999;padding: 4px 10px;margin: 0 1px 0 1px;border-right: 0px solid #778;border-top-width:thin;color: white;text-decoration: none;}
  .nav-affront ul li a:link,
  .nav-affront ul li a:visited,
  .nav-affront ul li a:link {color: black;}
  .nav-affront ul li a:hover {color: white;text-decoration: underline;}
  


  #jouer-image {width:150px;margin: 0 auto; }
  #jouer-tableau {width:200px;margin: 0 auto; }


  #main_affront img {margin: 10px 10px; padding:5px 5px; border: solid 1px  #546489;}
  #head_affront {position: relative;width:100%;}
  #jouer-left {position: absolute; left:5px; top:5px;width:200px;margin: 10px 10px; padding:5px 5px;}
  #jouer-right {position: absolute; right:5px; top:5px;width:200px;margin: 10px 10px; padding:5px 5px;}
  #img-jouerleft, #img-jouerright {width:100px;margin: 0 auto; }
  #table-jouerleft, #table-jouerright {width:180px;margin: 0 auto; }
  
  .clearfloat, .clearleft{ clear:both;height:0;font-size: 1px;line-height: 0px;}

