        

<div class="sbleft"></div>
  <div class="container" style="margin-left: 210px">
    <div class="container" style="margin-left:100px;">
    <div class="cover">
    <div class="container">
      <div class="row text-center">
        <div class="col-6-lg" id="quiz">
          <h1>La liste des questions soumises par concept</h1>

          <h1 id="quiz-name"></h1>
          <!--<div ng-repeat="concept in $ctrl.this.awesomeConcept">

          <h1 id="quiz-name"></h1>
          <div ng-if="$ctrl.awesomeListQuestion.concept == awesomeConcept._id" ng-repeat="concept in $ctrl.awesomeConcept">
 
              <p>
                <strong>
                  <b>{{concept.name}}</b>
                </strong>
              </p>
            <ul ng-repeat="listquest in $ctrl.awesomeListquestion">
              <p>
                <strong>{{listquest.question}}</strong>
              </p>
            </ul>

          </div> -->

          <!-- <h2>{{$ctrl.awesomeListQuestion}}</h2> -->

          <!--<ul ng-repeat="listquest in $ctrl.awesomeListQuestion[$ctrl.i]">
            <label > {{listquest.question}} </label>     
          </ul> -->

          <!--<div id="question">
            <h2>{{$ctrl.awesomeQuestion[$ctrl.num].question}}</h2>-->
          <!--<div id="question" ng-view>
            <h2>{{$ctrl.all_questions[$ctrl.i].question}}</h2>
            <ul ng-repeat="choices in $ctrl.all_questions[$ctrl.i].choices">
              <input ng-click="$ctrl.validation(choices)" id="choices-{{choices.id}}" type="radio" name="choices" value="choices-{{choices.id}}">
              <label id="label-choices-{{choices.id}}" class="" for="choices-{{choices.id}}">{{choices.pos}}</label>
            </ul>
          </div> -->

          <!--<button ng-click="$ctrl.new_prev()" disabled class="btn" id="prev-question-button"><i class="fa fa-arrow-left fa-2x"></i></button>-->
          <!--<button ng-click="$ctrl.new_next()" class="btn" id="next-question-button"><i class="fa fa-arrow-right fa-2x"></i></button>-->
          <!-- <button ng-click="$ctrl.submit()" class="btn" id="submit-button"><i class="fa fa-check fa-2x"></i></button> -->
          <!--<button ng-click="$ctrl.report($ctrl.awesomeQuestion[$ctrl.num]._id)" class="btn" id="report-question-button"><i class="fa fa-flag fa-2x"></i></button>-->
          <h2 ng-repeat="(nomConcept,question) in $ctrl.questionTri"> {{nomConcept}} 
            <div ng-repeat="intitule in question"> {{intitule}}  </div>

          </h2>

          <div id="quiz-results" style="display:none;">
            <p id="quiz-results-message">Bravos felicitations</p>
            <p id="quiz-results-score">Score {{$ctrl.resultats}}/5</p>
          </div>

          <br/>
        </div>
      </div>
    </div>
  </div>
  </div>