.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

header {
  height: 150px;
  margin: 0px 0px 0px 0px;
  border: 1px solid #999999;
  background: rgb(203, 203, 243);
}

sidebarleft {
  float: left;
  width: 200px;
  min-height: 500px;
  margin: 0 0 0 0;
  border: 1px solid #999999;
  background: rgb(203, 203, 243);
}

footer {
  color: blue;
  height: 40px;
  padding: 5px 0 5px 0;
  border: 1px solid #999999;
  background: #bbbbbb;
}

.navbar {
  background: rgb(54, 64, 252);
  height: 52px;
  margin: 0px 0px 0px 0px;
  border: 1px solid #999999;
}

.navbar-text {
  margin-left: 15px;
}

main {
  margin: 0px 0px 0px 0px;
}

main > container  {
  margin-left: 210px;
  min-height: 420px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

