<div class="container">
    <div class="row">
    <br>
           <h1 class="page-header" style="color: #166e70;"> Welcome to skill game 
           </br>
           Hall of Fame
           </h1>
           <center>
            <div class="container">
                  <table class="table">
                        <thead class="thead-default">
                        <tr>
                          <td width="100"><center><h2>Avatar</h2></center></td>
                          <td width="100"><center><h2>Name</h2></center></td>
                          <td width="100"><center><h2>Global score</h2></center></td>
                          <td width="100"><center><h2></h2></center></td>
                        </tr>
                        </thead>
                        
                            <tr  ng-repeat="s in $ctrl.classement">
                                
                                <td><center>
                                    <img ng-if="s.total < 300" id="classementImg"  height="{{s.total}}" width="{{s.total}}" src="assets/images/{{s.User.avatar}}">
                                    <img ng-if="s.total > 300" id="classementImg"  height="300" width="300" src="assets/images/{{s.User.avatar}}">
                                </center></td>                                
                                <td><center>{{s.User.name}}</center></td>
                                <td><center>{{s.total}}</center></td>
                                
                            </tr>
                       
                    </table>
                </div>
            </center>

        </div>
        <!-- /.container -->
  
