<div class="container">

    <div class="row">
              <div class="col-md-3 col-sm-4 sidebar">
                <ul class="nav nav-stacked nav-pills">
                <li>
                    <div class="form-group">
                      <label>Search:</label>
                      <input ng-model="searchText" type="text" class="form-control">
                    </div>
                </li>

                  <li ng-repeat="concept in $ctrl.listConcepts | filter:{ name : searchText}"><a href="#" ng-click = "$ctrl.choix_concept(concept)" >{{concept.name}}</a></li>
                </ul>
              </div>
              <div class="row" style="margin-left:200px;">
                <div ng-if="$ctrl.cChoisi" class="col-md-9 col-sm-8">
                  <center>
                    <table border=0 width="450">
                        <tr colspan="4">
                            <h1 style="color: #166e70;" class="page-header">Ranking for {{ $ctrl.conceptChoisi.name }} </h1>
                        </tr>

                        <button type="button" ng-show="$ctrl.showus" class="btn btn-primary btn-md" ng-click="$ctrl.showButtonHandler()">Ranking by Total points</button>
                        
                        <button ng-style="" ng-hide="$ctrl.showus" type="button" class="btn btn-primary btn-md" ng-click="$ctrl.showButtonHandler()">Ranking by Quizz points</button>
                        <div >
                          <tr ng-show="$ctrl.showme">
                              <td width="100"><h2>Avatar</h2></td>
                              <td width="100"><h2>Name</h2></td>
                              <td width="100"><h2>Score</h2></td>
                              <td width="100"><h2>Awards</h2></td>
                            </tr>
                          <tr ng-repeat="s in $ctrl.threeAwesomePlayers" ng-show="$ctrl.showme">
                            <td><a href="/affrontement" ><img id="classementImg"  height="42" width="40" src="assets/images/{{s.User.avatar}}"></a></td>
                            <td><a href="/affrontement" >{{s.User.name}}</a></td>
                            <td>{{s.score}}</td>
                            <td>{{ awardstableComponent.getUserAwards(s.User._id) }}</td>
                          </tr>
                        </div>
                    </table>
                    
                  </center>
                </div>
              </div>
    </div>
</div>

  
