<div class="container">

  <div class="row">
    <div class="col-md-3 col-sm-4 sidebar">
      <ul class="nav nav-stacked nav-pills">
        <li>
          <div class="form-group">
            <label>Search:</label>
            <input ng-model="searchText" type="text" class="form-control">
          </div>
        </li>

        <li ng-repeat="concept in $ctrl.listConcepts | filter:{ name : searchText}"><a href="#" ng-click = "$ctrl.choix_concept(concept)" >{{concept.name}}</a></li>
      </ul>
    </div>
    <div class="row" style="margin-left:200px;">
      <div ng-if="$ctrl.cChoisi" class="col-md-9 col-sm-8">
       <center>
        <tr colspan="3">
          <h1 style="color: #166e70;" class="page-header">Ranking for {{ $ctrl.conceptChoisi.name }} </h1>
        </tr>
        <button type="button" ng-show="$ctrl.showus" class="btn btn-primary btn-md" ng-click="$ctrl.showButtonHandler()">Ranking by Total points</button>

        <button ng-style="" ng-hide="$ctrl.showus" type="button" class="btn btn-primary btn-md" ng-click="$ctrl.showButtonHandler()">Ranking by Quizz points</button>
        <table class="table" ng-show="$ctrl.showme">
          <thead class="thead-default">
            <tr>
              <td width="100"><center><h2>Avatar</h2></center></td>
              <td width="100"><center><h2>Name</h2></center></td>
              <td width="100"><center><h2>Score</h2></center></td>
              <td width="100"><center><h2></h2></center></td>
            </tr>
            </thead>
            <tr ng-repeat="s in $ctrl.threeAwesomePlayers">
              <td><center><a href="/affrontement" ><img id="classementImg"  height="42" width="40" src="assets/images/{{s.User.avatar}}"></a></center></td>
              <td><center><a href="/affrontement" >{{s.User.name}}</a></td>
              <td><center>{{s.score}}</center></td>
              <td><center>{{ awardstableComponent.getUserAwards(s.User._id) }}</center></td>   
            </tr> 
            <br/><br/>
            <thead class="thead-default">
              <tr>
                <td width="100"><center><h2>Avatar</h2></center></td>
                <td width="100"><center><h2>Name</h2></center></td>
                <td width="100"><center><h2>ScoreAlone</h2></center></td>
                <td width="100"><center><h2></h2></center></td>
              </tr>
              </thead>
              <tr ng-repeat="s in $ctrl.threeAwesomeAlonePlayers">
                <td><center><a href="/affrontement" ><img id="classementImg"  height="42" width="40" src="assets/images/{{s.User.avatar}}"></a></center></td>
                <td><center><a href="/affrontement" >{{s.User.name}}</a></td>
                <td><center>{{s.alonescore}}</center></td>
                <td><center>{{ awardstableComponent.getUserAwards(s.User._id) }}</center></td>   
              </tr>

          </center> 
          <br/><br/>
        </div>
        <!-- Antonio's CODE Dont Delete -->

                <!-- <div class="col-md-9 col-sm-8" style="margin-bottom:50px;">
                    <center>
                      <div id="selectBar" class="form-group" style="width:100%;">
                          <select ng-model="selectedUser" class="form-control" style="width:200px; display:inline-block;" >
                              <option value="">Select User</option>
                              <option ng-repeat="u in $ctrl.listPlayers" ng-value="u">{{u.name}}</option>
                          </select>
                          <select ng-model="selectedConcept" class="form-control" style="width:200px; display:inline-block;">
                              <option value="">Select Concept</option>
                              <option ng-repeat="c in $ctrl.listConcepts" ng-value="c">{{c.name}}</option>
                          </select>
                          <select ng-model="selectedBadge" class="form-control" style="width:200px; display:inline-block;">
                              <option value="">Select Badge</option>
                              <option ng-repeat="b in $ctrl.listBadges" ng-value="b">{{b.name}}</option>
                          </select>
                          <button type="button" class="btn btn-primary btn-md" ng-click="$ctrl.getAwards(selectedUser,selectedConcept,selectedBadge);" >Search</button>
                      </div>
                        <br />
                      <table border=0 width="700">
                          <tr colspan="5">
                            <h1 style="color: #166e70;" class="page-header">User Details by selection</h1>
                          </tr>
                          <tr >
                            <td width="60"  align="center"><h2>Avatar</h2></td>
                            <td width="150" align="center"><h2>Name</h2></td>
                            <td width="200" align="center"><h2>Concept</h2></td>
                            <td width="100" align="center"><h2>Date</h2></td> 
                            <td width="200" align="center"><h2>Awards</h2></td>
                          </tr>
                          <tr ng-repeat="aw in $ctrl.listAwards">
                            <td align="center">
                              <a href="" ><img class="classementImg" height="42" width="40" src="assets/images/{{aw.User.avatar}}"></a>
                            </td>
                            <td ><a href="" >{{aw.User.name}}</a></td>
                            <td align="center">{{aw.Concept.name}}</td>
                            <td align="center">{{aw.date | date:'yyyy-MM-dd' }}</td>  
                            <td align="center"><img height="42" width="40" src="assets/images/{{aw.Badge.picture}}" /></td> 
                          </tr>
                      </table>
                    </center>
                </div>
                  <br/><br />
                  <br/><br />
                <div class="col-md-9 col-sm-8">
                  <center>
                      <table border=0 width="550">
                          <tr colspan="4">
                            <h1 style="color: #166e70;" class="page-header">Top Ten Users</h1>
                          </tr>
                          <tr >
                            <td width="60"  align="center"><h2>Avatar</h2></td>
                            <td width="150" align="center"><h2>Name</h2></td>
                            <td width="60"  align="center"><h2>Score</h2></td>
                            <td width="200" align="center"><h2>Awards</h2></td>
                          </tr>
                          <tr ng-repeat="u in $ctrl.listPlayersRanked">
                            <td align="center">
                              <a href="" ><img class="classementImg" height="42" width="40" src="assets/images/{{u.avatar}}"></a>
                            </td>
                            <td ><a href="" >{{u.name}}</a></td>
                            <td align="center">
                            <div ng-repeat="sco in u.Scores"  style="display:inline-block;">

                                {{sco.score}}
                              </div>
                            </td>
                            <td >
                                <div ng-repeat="aw in u.Awards" style="display:inline-block;">
                                  <img height="42" width="40" src="assets/images/{{aw.BadgeId}}.jpg" />
                                </div>
                              </td>
                          </tr>
                      </table>
                  </center>
                </div> -->        

              </div>
            </div>
          </div>
