.sbleft {
    float: left;
    width: 200px;
    min-height: 420px;
    margin: 0 0 0 0;
    border: 1px solid #999999;
    background: rgb(203, 203, 243);
  }

  
  #classementImg {margin: 5px; width:40px; height:42px;} 
  #classement img {margin-right: 3px; width:20px; height:22px;}  
    
  .jouer_table {width:120px;font-size:70%; }
  .clearfloat, .clearleft{ clear:both;height:0;font-size: 1px;line-height: 0px;}

