
  <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 sidebar">
                <ul class="nav nav-stacked nav-pills">
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                </ul>
            </div>

            <div class="col-md-9 col-sm-8">

        <!-- <h1 >Mes parties en cours {{ $ctrl.getCurrentUser().name }}</h1> -->

	        <h1 class="page-header" style="color: #166e70;"> Games in progress </h1>
	    <div ng-repeat="player in gameCtrl.openGame"> {{player.User1.name}} vs {{player.User2.name}} </div>
	    


	<h1 class="page-header" style="color: #166e70;"> Ended games </h1>
	    <div ng-repeat="player in gameCtrl.openGame in gameCtrl.finishGame"> {{player.User1.name}}} vs {{player.User1.name}}} </div>


            </div>


        </div>
        <!-- /.row -->
    </div>
 
