
<div class="container">
    <div class="row">


        <div class="col-md-9 col-sm-8">
        <!-- <h1 >Mes parties en cours {{ $ctrl.getCurrentUser().name }}</h1> -->
            <h1 class="page-header" style="color: #166e70;"> Games in progress </h1>

            <div class="col-md-9 col-sm-8" ng-repeat="player in gameCtrl.openGame">

                <div class="col-sm-2">
                </div>

                <div class="col-sm-3"> 
                <center>
                    <img height="90" width="80" src="assets/images/{{player.User1.avatar}}">
                    <h4>{{player.User1.name}}
                    </h4>
                </center>
                <br><br>
                </div>

                <div class="col-sm-3">
                <center>
                    <img height="30" width="20" src="assets/images/vs.png"><br>
                    <h4>{{player.Concept.name}}</h4>
                    <button ng-click ="gameCtrl.playAGame(player)" type="button" class="btn btn-primary btn-md">Play This Game</button>
                </center>
                </div>

                <div class="col-sm-3"> 
                <center>
                        <img height="90" width="80" src="assets/images/{{player.User2.avatar}}" ng-if ="player.User2 !=undefined">
                        <h4 ng-if ="player.User2 !=undefined">{{player.User2.name}}</h4>

                    <img height="90" width="80" src="assets/images/inconnu.png"ng-if ="player.User2 ==undefined">
                    <h4 ng-if ="player.User2 ==undefined" > not player </h4>
                    </center>
                    <br><br>
                </div>

            </div>
                <!--   {{player.User1.name}} vs {{player.User2.name}}  -->
        </div>

        <div class="col-md-9 col-sm-8">
            <!-- <h1 >Mes parties en cours {{ $ctrl.getCurrentUser().name }}</h1> -->
                <h1 class="page-header" style="color: #166e70;"> Games in wait </h1>
    
                <div class="col-md-9 col-sm-8" ng-repeat="player in gameCtrl.waitGame">
    
                    <div class="col-sm-2">
                    </div>
    
                    <div class="col-sm-3"> 
                    <center>
                        <img height="90" width="80" src="assets/images/{{player.User1.avatar}}">
                        <h4>{{player.User1.name}}
                        </h4>
                    </center>
                    <br><br>
                    </div>
    
                    <div class="col-sm-3">
                    <center>
                        <img height="30" width="20" src="assets/images/vs.png"><br>
                        <h4>{{player.Concept.name}}  </h4>
                    </center>
                    </div>
    
                    <div class="col-sm-3"> 
                    <center>
                        <img height="90" width="80" src="assets/images/inconnu.png"ng-if ="player.User2 ==undefined">
                        <h4 ng-if ="player.User2 ==undefined" > not player </h4>

                        <img height="90" width="80" src="assets/images/{{player.User2.avatar}}" ng-if ="player.User2 !=undefined">
                        <h4 ng-if ="player.User2 !=undefined">{{player.User2.name}}</h4>

                        </center>
                        <br><br>
                    </div>
    
                </div>
                    <!--   {{player.User1.name}} vs {{player.User2.name}}  -->
            </div>

        <div class="col-md-3 col-sm-16   sidebar">
        </div>

        <div class="col-md-9 col-sm-8">

            <h1 class="page-header" style="color: #166e70;">Ended games</h1>

            <div class="col-md-9 col-sm-8" ng-repeat="player in gameCtrl.finishGame">

                <div class="col-sm-2">
                </div>

                <div class="col-sm-3"> 
                <center>
                    <img height="90" width="80" src="assets/images/{{player.User1.avatar}}">
                    <h4>{{player.User1.name}}
                    </h4>
                </center>
                <br><br>
                </div>

                <div class="col-sm-3">
                <center>
                    <img height="30" width="20" src="assets/images/vs.png"><br>
                    <h4>{{player.Concept.name}}</h4>
                </center>
                </div>

                <div class="col-sm-3"> 
                <center>
                    <img height="90" width="80" src="assets/images/{{player.User2.avatar}}">
                    <h4>{{player.User2.name}}</h4>
                    </center>
                    <br><br>
                </div>

            </div>
        </div>

</div>

</div>

