<div class="container">
  <div class="row">

    <div class="col-md-3 col-sm-4 sidebar">
      <ul class="nav nav-stacked nav-pills">
        <li>
          <div class="form-group">
            <label>Search:</label>
            <input ng-model="searchText" type="text" class="form-control">
          </div>
        <li>
        <li ng-repeat="concept in $ctrl.awesomeConcept  | filter:{ name : searchText}"  >
          <a href="#" ng-click = "$ctrl.choix_concept(concept)" ng-style = "concept == $ctrl.currentConcept && {'color': '#fff' , 'background-color': '#166e70'}">{{concept.name}} </a>
        </li>
      </ul>
    </div>

    <div class="col-md-9 col-sm-8">
      <h1 style="color: #166e70;" class="page-header">Pick a concept  </br> </h1>

      <ng-tag-cloud class="custom-1" cloud-width="750" cloud-height="250" cloud-data="cloud" ng-click = "$ctrl.test(cloud)"></ng-tag-cloud>

      <div ng-if="$ctrl.choice == true">
        <div ng-if="$ctrl.choice == true">
          <!-- <p> Vous avez choisis le concept {{$ctrl.currentConcept.name}} </p> -->
          <br> 
          <center>
           
            <button ng-click ="$ctrl.lookForAGame()" type="button" class="btn btn-primary btn-md">Battle a random player</button>
          </center>

          <br/>
          
          <form ng-if="$ctrl.choice == true">

            <div class="form-group">
              <label for="exampleFormControlTextarea1">Question</label>
              <textarea class="form-control" ng-model="$ctrl.question" rows="3" placeholder="what is the most used operating system on computers?"></textarea>
            </div>

            <div class="form-group">
              <label for="exampleFormControlInput1">Right answer</label>
              <input type="text" class="form-control" ng-model="$ctrl.goodAnswer" placeholder="Microsot Windows">
            </div>

            <div class="form-group">
              <label for="exampleFormControlInput1">Wrong answer 1</label>
              <input type="text" class="form-control" ng-model="$ctrl.WrongAnswer1" placeholder="Mac OS X">
            </div>

            <div class="form-group">
              <label for="exampleFormControlInput1">Wrong answer 2</label>
              <input type="text" class="form-control" ng-model="$ctrl.WrongAnswer2" placeholder="Linux">
            </div>

            <div class="form-group">
              <label for="exampleFormControlInput1">Wrong answer 3</label>
              <input type="text" class="form-control" ng-model="$ctrl.WrongAnswer3" placeholder="Andoid">
            </div>
            <center>
              <button type="submit" class="btn btn-primary" ng-click="$ctrl.addQuestion()">Add the question</button>
            </center>
          </form>
          <p> {{$ctrl.message}} </p>
        </div>


      </div>
      <!-- /.row -->
    </div>

 <!--
 <div class="sbleft">
    <div class="container" >
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Features :</h1>
    
          <div >
            
            <ul ng-repeat="concept in $ctrl.awesomeConcept">
              <li><a href="#" ng-click = "$ctrl.choix_concept(concept)" >{{concept.name}}</a></li>
            </ul>
          </div>

        </div>
        
      </div>
    </br>
    </div>
  </div>

-->


 <!--
 <div class="sbleft">
    <div class="container" >
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Features :</h1>
    
          <div >
            
            <ul ng-repeat="concept in $ctrl.awesomeConcept">
              <li><a href="#" ng-click = "$ctrl.choix_concept(concept)" >{{concept.name}}</a></li>
            </ul>
          </div>

        </div>
        
      </div>
    </br>
    </div>
  </div>

-->