

    <div id="sbleft_affront" class="sbleft">
    <div class="container" style="width:180px">
      <div class="row">
        <div class="col-lg-12">
      <ul ng-repeat="concept in $ctrl.awesomeConcept">
        <li><a href="#" ng-click = "$ctrl.choix_concept(concept)" >{{concept.name}}</a></li>
      </ul>
    </div>
  <div class="container" style="min-height: 400px; margin-left: 210px">
    <h1>Choissisez un théme </h1>
    <div ng-if="$ctrl.choice == true">
      <p> Vous avez choisis le concept {{$ctrl.currentConcept.name}} </p>
      <br> 
      <button ng-click ="$ctrl.askQuestion()"> Poser une question </button>
      <button ng-click ="$ctrl.lookForAGame()"> défier un joueur aléatoire </button>
      <form ng-if="$ctrl.controleQuestion == true">
        Intitulé de la question  <input type="text "ng-model="$ctrl.question">
        <br>
        Possibilité correcte <input type="text "ng-model="$ctrl.goodAnswer">
        <br>
        Possibilité fausse 1 <input type="text "ng-model="$ctrl.WrongAnswer1">
        <br>
        Possibilité fausse 2 <input type="text "ng-model="$ctrl.WrongAnswer2">
        <br>
        Possibilité fausse 3 <input type="text "ng-model="$ctrl.WrongAnswer3"> 
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addQuestion()">Ajouter la question au concept </button>
      </form>
      <p> {{$ctrl.message}} </p>
    </div>

 <!--
 <div class="sbleft">
    <div class="container" >
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Features :</h1>
    
          <div >
            
            <ul ng-repeat="concept in $ctrl.awesomeConcept">
              <li><a href="#" ng-click = "$ctrl.choix_concept(concept)" >{{concept.name}}</a></li>
            </ul>
          </div>

        </div>
        
      </div>
    </br>
    </div>
  </div>

-->


 <!--
 <div class="sbleft">
    <div class="container" >
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Features :</h1>
    
          <div >
            
            <ul ng-repeat="concept in $ctrl.awesomeConcept">
              <li><a href="#" ng-click = "$ctrl.choix_concept(concept)" >{{concept.name}}</a></li>
            </ul>
          </div>

        </div>
        
      </div>
    </br>
    </div>
  </div>

-->