
  <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 sidebar">
                <ul class="nav nav-stacked nav-pills">
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                </ul>
            </div>

            <div class="col-md-9 col-sm-8">

        <h1 class="page-header" style="color: #166e70;">Games in progress {{ $ctrl.getCurrentUser().name }}</h1>
       

        <div class="board">
          <div class="row" ng-repeat="row in ticTacToe.game.board.rows">
              <div class="col-lg-4">
                  <button class="cell" ng-disabled="row[0].isChecked || ticTacToe.game.winner" ng-click="ticTacToe.game.fillBox(row[0].id)">{{row[0].value}}</button>
              </div>
              <div class="col-lg-4">
                  <button class="cell" ng-disabled="row[1].isChecked || ticTacToe.game.winner" ng-click="ticTacToe.game.fillBox(row[1].id)">{{row[1].value}}</button>
              </div>
              <div class="col-lg-4">
                  <button class="cell" ng-disabled="row[2].isChecked || ticTacToe.game.winner" ng-click="ticTacToe.game.fillBox(row[2].id)">{{row[2].value}}</button>
              </div>
          </div>
        </div>
            </div>


        </div>
        <!-- /.row -->
    </div>
  